@import "tailwindcss";


@layer components {
    .my-container{
        @apply w-[500px] ;
        @apply sm:w-[100%] md:w-[757px] lg:w-[1024px] xl:w-[1280px] 2xl:w-[1440px]  m-auto;
    }
    .arrow-menu{
        @apply relative xl:pr-8 lg:pr-4 md:pr-3 pr-10;
    }

    .arrow-menu::after{
        content:'';
        @apply  absolute right-0 top-[15px] -translate-y-1/2 w-[8px] h-[8px] bg-no-repeat bg-contain;
        background-image: url('./assets/icon/arrow-icon.svg');
    }

    .item-link{
        @apply text-amber-50 hover:underline;
    }

    .arrow-button{
        @apply relative pr-8;
    }

    .arrow-button::after{
        content: '';
        @apply  absolute lg:right-[15px] lg:top-[25px] -translate-y-1/2  w-[8px]  h-[8px] bg-no-repeat  bg-contain right-[15px] top-[22px];
        background-image: url('./assets/icon/arrow-icon-right.svg');
    }

    .btn{
        @apply lg:p-3 p-2 lg:px-8 px-7 border-none rounded-lg transition duration-500 ease-in-out cursor-pointer;
    }

    .btn-primary{
        @apply bg-blue-400 text-amber-50 cursor-pointer;
    }

    .btn-primary:hover{
        @apply bg-blue-500;
    }

    .title-main{
        @apply  text-3xl lg:text-6xl font-bold pb-10 ;
        
    }

    .block-main{
        @apply xl:w-[448px] xl:h-[547px] lg:w-[500px] lg:h-[447px] md:w-[348px] md:h-[347px] w-[320px] h-[247px];
    }

    .navigation__title{
        @apply font-bold text-amber-50 lg:text-xl mb-[10px] lg:text-sm;
    }

    .navigation__link{
        @apply text-amber-50 text-sm;
    }

    .navigation__list{
        @apply flex flex-col gap-3;
    }
    
}
